extends extends/layout.pug

block html_head
	- var pageTitle = 'Multi-agent communication on mobile robotics market'
	- var pageDescription = 'This framework enables developers such p2p technologies as IPFS and Ethereum in order to provide communication with an autonomous base of mobile robotics.'
	- var pageKeywords = 'robotics drone communication framework market Ethereum IPFS autonomous decetrilized operator Robonomics Blockchain registration transaction technical financial peer-to-peer'

block html_head_og
	- var ogUrl = ''

block header
	- var header_classes = 'header---wrap-banner--dark'
	- var header_banner = true

block html
	- var bodyclass = ''

block content
	main(role="main")
		.w-base
			section.sec-phrase
				.sec-phrase--inside This framework enables developers such p2p technologies as IPFS and Ethereum in order to provide communication with an autonomous base of mobile robotics.

			section
				h2 With Drone P2P you can solve the following tasks:

				.row
					.col-sm-4.t-align-center.line Configure the launch of multiple drones by the operator on a signal sent through the broadcast channel ipfs pubsub.
					.col-sm-4.t-align-center.line Create serverless private accounts for operators with direct access to the drones fleet.
					.col-sm-4.t-align-center.line Join the program of open markets of Robonomics.

		section.sec-vivid.section-padding.m-b-0
			.w-base
				h2 Today's available Drone P2P assistant services:

				.w-small.t-align-center
					.line Registration of the drone’s ID in the Ethereum mainnet Blockchain.
					.line Publication of flight routes and missions.
					.line Flight simulation and route correction before the drone’s departure.

				.t-align-center.m-t-base-2
					a(href="https://drone-employee.com/registration", target="_blank", onclick="yaCounter50655262.reachGoal('yaTryDapp'); return true;").btn
						span.btn-content
							span.icon-app.m-r-base
							span Try dApp