@font-face {
	font-family: "CustomIcons";
	src: url('../fonts/CustomIcons.eot');
	src: url('../fonts/CustomIcons.eot?#iefix') format('eot'),
		url('../fonts/CustomIcons.woff') format('woff'),
		url('../fonts/CustomIcons.ttf') format('truetype'),
		url('../fonts/CustomIcons.svg#CustomIcons') format('svg');
}

@mixin icon-styles {
	font-family: "CustomIcons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;

	display: block;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == app {
		$char: "\E001";
	}
	@if $filename == github {
		$char: "\E002";
	}
	@if $filename == info {
		$char: "\E003";
	}
	@if $filename == settings {
		$char: "\E004";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-app {
	@include icon(app);
}
.icon-github {
	@include icon(github);
}
.icon-info {
	@include icon(info);
}
.icon-settings {
	@include icon(settings);
}
