@keyframes FadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}


@keyframes FadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}



$animation-tremor-gap: 6px;

@keyframes NeonTremor1 {
  0% {
    transform: translateX(-$animation-tremor-gap);
  }
  4% {
    transform: translateX($animation-tremor-gap);
  }
  6% {
    transform: translateX(-$animation-tremor-gap);
  }
  8% {
    transform: translateX($animation-tremor-gap);
  }
  10% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes NeonTremor2 {
  0% {
    transform: translateX($animation-tremor-gap);
  }
  4% {
    transform: translateX(-$animation-tremor-gap);
  }
  6% {
    transform: translateX($animation-tremor-gap);
  }
  8% {
    transform: translateX(-$animation-tremor-gap);
  }
  10% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}


@keyframes Float {
  0% {
    transform: translateY(0) rotate(0);
  }
  25% {
    transform: translateY(#{random(10)}px) rotate(#{random(10)}px);
  }
  50% {
    transform: translateY(#{random(10)}px) rotate(#{random(10)}deg);
  }
  75% {
    transform: translateY(#{random(10)}px) rotate(#{random(10)}px);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}